.card {
  height: 290px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  margin-left: 30px;
  vertical-align: text-bottom;

}
.card-description h2 {
  font-size: 24px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.container {
  background: black;
}
